@use '@/styles/variables' as *;
@use '@/styles/responsive' as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: $padding-sm;
  font-size: $sizeS;
  border: none;
  background-color: $bg;
  border-radius: $radius;
  border: 1px solid $main;

  @include respond(md) {
    font-size: $sizeM;
    padding: $padding-md;
  }

  &:disabled {
    background: $disabled;
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:not(:disabled):hover {
    cursor: pointer;
    background-color: $white;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.w-full {
  width: 100%;
}
