@use '@/styles/variables' as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: $padding;
  font-size: $sizeM;
  border: none;
  background-color: $bg;
  border-radius: 8px;
  border: 1px solid $main;

  &:disabled {
    background: $disabled;
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:hover {
    cursor: pointer;
    background-color: $white;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.w-full {
  width: 100%;
}
