$main: #242423;
$dark: #333533;
$light: hsl(120, 2%, 80%);
$white: #fff;
$accent: #f5cb5c;
$accent-hover: hsl(44, 88%, 50%);
$bg: #e8eddf;
$disabled: #ccc;

$success: #6bd44b;
$error: #d62424;
$warning: #ffc525;

$radius: 10px;
$padding: 20px;

$sizeXS: 1.2rem;
$sizeS: 1.6rem;
$sizeM: 2rem;
$sizeXL: 2.5rem;
