@use '@/styles/variables' as *;

.heading {
  font-size: $sizeXL;
  text-align: center;
  padding: $padding-sm;
}

.heading.xl {
  font-size: $sizeXL;
}

.heading.m {
  font-size: $sizeM;
}

.heading.s {
  font-size: $sizeS;
}
